* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anime {
  width: 500px;
  height: 500px;
  background-color: red;
}
