* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 20%,
    rgba(160, 255, 40, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
}

.main .fone {
  background: rgb(1 109 173);
  border-radius: 78px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
}

.main .fone .brand {
  margin-top: 60px;
}

.main .fone .gCanvas {
  width: 400px;
  height: 373px;
  background-color: rgb(145 203 2);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main .fone .gCanvas .score {
  margin: 0px;
  padding-left: 10px;
}

.main .fone .mobileArrows {
  display: none;
}
.main .fone .anime {
  width: 385px;
  height: 315px;
  background-color: rgb(145 203 2);
  border: 5px solid;
  margin: 0 auto;
}

.main .fone .foneNumber {
  height: 335px;
  width: 100%;
  padding: 20px;
}

.main .fone .foneNumber .content {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-evenly;
}

.main .fone .foneNumber .content .pr {
  height: 30px;
  width: 20%;
  background: white;
  text-align: center;
  border-radius: 30px;
}
.main .fone .foneNumber .content .pr:active {
  background-color: gray;
}

.main .fone .foneNumber .content .pr:active {
  background-color: gray;
}

.main .fone .foneNumber .content .pr.mid {
  margin-top: 10px;
}
.main .fone .foneNumber .content .pr.lat {
  border-radius: 0 40% / 0 100%;
}
.main .fone .foneNumber .content .pr.tal {
  border-radius: 40% 0 / 100% 0;
}

@media (max-width: 500px) {
  .main {
    height: auto;
  }
  .main .fone {
    border-radius: 0px;
    min-height: 100vh;
    justify-content: flex-start;
  }

  .main .fone .brand {
    margin-top: 0px;
  }

  .main .fone .gCanvas {
    width: 100%;
    height: 373px;
    background-color: rgb(145 203 2);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .main .fone .anime {
    width: 98%;
    height: 330px;
  }

  .main .fone .foneNumber {
    display: none;
  }

  .main .fone .mobileArrows {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .fone .arrow {
    text-align: center;
    background-color: white;
    width: 50%;
    border: solid;
    border-radius: 10px;
    font-size: 25px;
  }

  .main .fone .arrow.l {
    margin-right: 15px;
  }

  .main .fone .arrow:active {
    background-color: gray;
  }

  .main .fone .arrow:active {
    background-color: gray;
  }

  .main .fone .mobileArrows .midArrows {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 500px) and (max-height: 800px) {
  .main .fone .arrow {
    width: 44%;
    border-radius: 0px;
    font-size: 50px;
  }
}

@media (min-height: 600px) and (max-height: 700px) {
  .main .fone .mobileArrows {
    width: 60%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
  }
}

@media (min-height: 700px) and (max-height: 800px) {
  .main .fone .foneNumber {
    height: 280px;
  }
  .main .fone .foneNumber .content {
    padding: 10px;
  }
}
